 h1{
    border-color: blue;
    border-style: outset;

    
 }
 h2{
    border-color: blueviolet;
    border-style: inset;
 }
h3{
    border-bottom-color: aqua;
    border-style: double;
}
body{
    background-image:url(images/guedj.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
}
#box1{
    width:100px;
    height: 100px;
    background-color:red;
    box-shadow: 3px 3px 5px crimson;

}
img{
    width:400px;
    height: 500px;
    display:block;
    margin:0%;
    padding:0%;
}